* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  text-align: center;
  padding: 20px;
  letter-spacing: 4px;
}

.photos {
  display: flex;
  justify-content: center;
}

.display-photo {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 คอลัมน์ */
  gap: 15px; /* ระยะห่างระหว่างรูป */
  max-width: 900px; /* จำกัดความกว้างของรูป */
  width: 100%;
  margin-top: 50px;
}

.display-photo img {
  width: 100%;
  height: auto;
  border-radius: 10px; /* ให้ขอบมนเล็กน้อย */
  object-fit: cover; /* ป้องกันภาพบิดเบี้ยว */
  transition: transform 1s ease-in-out;
}
.display-photo img:hover{
  border: 2px solid rgb(108, 73, 9);
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

/* Responsive */
@media (max-width: 780px) {
  .display-photo {
    grid-template-columns: repeat(2, 1fr); /* 2 คอลัมน์ */
    margin-top: 10px;
  }
  main {
    letter-spacing: 2px;
  }
}

@media (max-width: 480px) {
  .display-photo {
    grid-template-columns: repeat(1, 1fr); /* 1 คอลัมน์ */
    margin-top: 10px;
    
  }
  main{
    letter-spacing: 2px;
  }
}
